<section class="container">

  <h1>Test Weather Widget!</h1>

  <md-expansion-panel *ngIf="location.id">
    <md-expansion-panel-header>
      <md-panel-title>
        <span>Local Weather: {{ location.name }}</span>
        <img src="http://openweathermap.org/img/w/{{ location.weather[0].icon }}.png" alt="{{ location.weather[0].main }}" />
      </md-panel-title>
      <md-panel-description>
        <span>
          temp: {{ location.main.temp }}&deg;C /
          humidity: {{ location.main.humidity }}% /
          weather: {{ location.weather[0].description }}
        </span>
      </md-panel-description>
    </md-expansion-panel-header>

    Here could be forecast!!!

  </md-expansion-panel>

  <form novalidate [formGroup]="searchForm" (ngSubmit)="onSubmitSearchForm()">
    <md-form-field>
      <input mdInput
             placeholder="Type a city"
             formControlName="searchField"
             autocomplete="off"
             required>
    </md-form-field>
    <button type="submit" md-raised-button color="accent" [disabled]="requesting">Search!</button>
  </form>

  <md-progress-bar *ngIf="requesting" mode="indeterminate"></md-progress-bar>

  <h3 [ngPlural]="cities.length">
    <ng-template ngPluralCase="=0">No cities yet. Please add a city to your list.</ng-template>
    <ng-template ngPluralCase="=1">One city in the list.</ng-template>
    <ng-template ngPluralCase="other">{{ cities.length }} cities in the list.</ng-template>
  </h3>

  <md-expansion-panel *ngFor="let item of displayedCities" [expanded]="!item.saved">
    <md-expansion-panel-header>
      <md-panel-title>
        <span>City: {{ item.name }}</span>
        <img src="http://openweathermap.org/img/w/{{ item.weather[0].icon }}.png" alt="{{ item.weather[0].main }}" />
      </md-panel-title>
      <md-panel-description>
        <span>
          temp: {{ item.main.temp }}&deg;C /
          humidity: {{ item.main.humidity }}% /
          weather: {{ item.weather[0].description }}
        </span>
      </md-panel-description>
    </md-expansion-panel-header>

    Here could be forecast!!!

    <md-action-row>
      <button md-button color="warn" *ngIf="!item.saved" (click)="addCity(item)">Add</button>
      <button md-button disabled *ngIf="item.saved">Added</button>
      <button md-button color="primary" (click)="removeCity(item.id)">Remove</button>
    </md-action-row>
  </md-expansion-panel>

  <md-paginator *ngIf="cities.length > pageSize"
                [length]="cities.length"
                [pageSize]="pageSize"
                (page)="onPaginateChange($event)">
  </md-paginator>

</section>
