<section class="container">
  <h1>Test Weather Widget!</h1>

  <h3 *ngIf="localCity.local">Your current location and weather around you!</h3>
  <app-city-card [city]="localCity"></app-city-card>

  <form novalidate [formGroup]="searchForm" (ngSubmit)="onSubmitSearchForm()">
    <md-form-field>
      <input mdInput
             placeholder="Type a city"
             formControlName="searchField"
             autocomplete="off"
             required>
    </md-form-field>
    <button type="submit" md-raised-button color="accent" [disabled]="requesting">Search!</button>
  </form>
  <md-progress-bar *ngIf="requesting" mode="indeterminate"></md-progress-bar>

  <h3 [ngPlural]="cities.length">
    <ng-template ngPluralCase="=0">No cities yet. Please add a city to your list.</ng-template>
    <ng-template ngPluralCase="=1">One city in the list.</ng-template>
    <ng-template ngPluralCase="other">{{ cities.length }} cities in the list.</ng-template>
  </h3>

  <app-city-card *ngFor="let city of displayedCities"
                 [city]="city"
                 (onAddCity)="addCity($event)"
                 (onRemoveCity)="removeCity($event)">
  </app-city-card>

  <md-paginator *ngIf="cities.length > pageSize"
                [length]="cities.length"
                [pageSize]="pageSize"
                (page)="onPaginateChange($event)">
  </md-paginator>
</section>
